<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <script type='text/javascript' src='/js/ajax.js'></script>
    <!-- Compile/Minify the JS files into one distribution file -->
  </body>
</html>

<!-- Git Ignore the built files -->